In [15]:
import os
import numpy as np
import pandas as pd

In [ ]:
# Function to compute mean, std dev, range, and correlation coeff for the data
def dataset_stats(data, filename):
  summary = pd.DataFrame({'x_mean':data['x'].mean(), 'y_mean':data['y'].mean(), 'x_std_dev': data['x'].std(), 'y_std_dev':data['y'].std(), 'x_range': str([data['x'].max(), data['x'].min()]), 'y_range': str([data['y'].max(), data['y'].min()]), 'corr_coeff': data.corr()['x']['y']}, index=[filename])
  return summary

In [3]:
# Reading CSV files for the data
data_1 = pd.read_csv('data-1.csv')
data_2 = pd.read_csv('data-2.csv')
data_3 = pd.read_csv('data-3.csv')
data_4 = pd.read_csv('data-4.csv')
data_5 = pd.read_csv('data-5.csv')
data_6 = pd.read_csv('data-6.csv')

In [12]:
# Creating a summary table for the computed stats of the data
summary = dataset_stats(data_1, 'data-1')
summary = summary.append(dataset_stats(data_2, 'data-2'))
summary = summary.append(dataset_stats(data_3, 'data-3'))
summary = summary.append(dataset_stats(data_4, 'data-4'))
summary = summary.append(dataset_stats(data_5, 'data-5'))
summary = summary.append(dataset_stats(data_6, 'data-6'))

In [13]:
summary

           x_mean  ...  corr_coeff
data-1   8.717696  ...    0.950326
data-2  -0.710787  ...    0.955153
data-3   0.968907  ...    0.981937
data-4  49.905086  ...   -0.081193
data-5  49.909994  ...   -0.088236
data-6   7.216155  ...    0.935069

[6 rows x 7 columns]

In [16]:
# Saving the output as a txt file
file_summ = 'summary.txt'
with open(os.path.join(file_summ), 'w') as outfile:
  summary.to_string(outfile)